@font-face {
    font-family: Changa;
    src: url(/home/patrick/fonts/Changa-VariableFont_wght.ttf);
}

body {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
}

.content {
    display: flex;
    width: 70vw;
    background-color: wheat;
}

img {
    height: 98vh;
    width: calc(100vh * (2/3));
}

.image {
    position: relative;
    color: white;
    display: flex;
}

h1 {
    display: flex;
    align-items: center;
    color: black;
    font-family: Changa;
    font-size: xx-large;
    left: calc((100vh * (2/3))/5);
    position: absolute;
    opacity: 1;
}

svg {
    margin: 8px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    width: calc(100vh * (2/3));
    height: 112px;
    background-color:rgba(255, 255, 255, .5);

}

.imgfoot {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.imgfoot, a {
    color: white;
}

.info {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: Changa;
}

.greeting {
    font-size: larger;
}


.greeting, .form, p {
    margin: 0px 24px 0px 24px;

}

.form {
    display: flex;
    justify-content: space-evenly;
}

.form label {
    margin: 24px;
    padding: 8px;

}

.form input{
    width: 150px;
    height: 28px;
    margin: 24px;

}

.form-row1 {
    display: flex;
    flex-wrap: wrap;

}

