@font-face {
    font-family: Changa;
    src: url(/home/patrick/fonts/Changa-VariableFont_wght.ttf);
}

body {
    display: flex;
    justify-content: center;
    background-color: darkslategray;
}

.content {
    display: flex;
    width: 70vw;
    background-color: wheat;
}

img {
    height: 98vh;
    width: calc(100vh * (2/3));
}

.image {
    position: relative;
    color: white;
    display: flex;
}

h1 {
    display: flex;
    align-items: center;
    color: black;
    font-family: Changa;
    font-size: xx-large;
    left: calc((100vh * (2/3))/5);
    position: absolute;
    opacity: 1;
}

svg {
    margin: 8px;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 24px;
    width: calc(100vh * (2/3));
    height: 112px;
    background-color:rgba(255, 255, 255, .5);

}

.imgfoot {
    position: absolute;
    bottom: 8px;
    left: 8px;
}

.imgfoot, a {
    color: white;
}

.info {
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: Changa;
    gap: 40px;
}

.greeting {
    font-size: larger;
}


.greeting, p, .heading2, .footer {
    margin: 0px 24px 0px 24px;

}

.formcard {
    background-color: beige;
}

.form {
    display: flex;
    
    padding: 12px 24px 12px 24px;
}

h2 {
    margin: 2px 0px 2px 0px;
}

.form label {
    margin: 0px;
}

.form input {
    width: 225px;
    height: 32px;
    margin: 2px;
    border-radius: 6px;
    border-color: #E5E7EB;
}

input:focus-visible {
    outline: none;
}

input:focus {
    border-color: forestgreen;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);;
}

.input-label {
    display: flex;
    flex-direction: column;
}

.form-row {
    display: flex;
    gap: 52px;
}

button {
    height: 32px;
    width: 225px;
}